<article class="devCard">
  <p>
    <strong>
      <%= dev.firstName %> <%= dev.lastName %>
    </strong>
  </p>

  <figure class="profile">

    <img src="images/userIcon.svg" alt="userIcon">
  </figure>

  <p>
    Available: <%= dev.available && 'Yes' || 'No' %>
  </p>

  <p>
    Team: <%= dev.teamName %>
  </p>

  <p>
    Lead: <%= dev.teamLeadFirstName %>
  </p>

  <details>
    <summary>
      View Skills
    </summary>
    <ul class="skills">
      <% for (const skill of dev.skills || []) { %>
        <li><%= skill.skill %>: <%= skill.proficiency %></li>
      <% } %>
    </ul>
  </details>

  <button class="cardButton" onclick="alert('Coming Soon!')">
    Request
  </button>
</article>