<article class="devCard">
  <p>
    <strong>
      <%= dev.firstName %> <%= dev.lastName %>
    </strong>
  </p>

  <figure class="profile">

    <img src="images/userIcon.svg" alt="userIcon">
  </figure>

  <p>
    Available: <%= dev.available && 'Yes' || 'No' %>
  </p>

  <p>
    Team: <%= dev.teamName %>
  </p>

  <p>
    Lead: <%= dev.teamLeadFirstName %>
  </p>

  <details>
    <summary>
      View Skills
    </summary>
    <ul class="skills">
      <% for (const skill of dev.skills || []) { %>
        <li><%= skill.skill %>: <%= skill.proficiency %></li>
      <% } %>
    </ul>
  </details>

  <form action="/requests/add" method="post">
    <input type="text" name="developerId" id="developerId" value="<%= dev.developerId %>" hidden />
    <input type="text" name="teamLeadId" id="teamLeadId" value="<%= dev.teamLeadId %>" hidden />
    <input type="date" name="startDate" id="startDate" value="<%= new Date() %>" hidden />
    <input type="date" name="endDate" id="endDate" value="<%= new Date() %>" hidden />
    <input type="number" name="amountOfHours" id="amountOfHours" value="5" hidden />
    <input type="text" name="requestStatus" id="requestStatus" value="Pending" hidden />

    <button class="cardButton" type="submit">
      Request
    </button>
  </form>
</article>