<link rel="stylesheet" href="css/requestTable.css">

<article id="requestTableContainer">
  <table>
    <tr id="headings">
      <th>Name</th>
      <th id="teamLead"></th>
      <th>Requested availability</th>
      <th class="availabilityColumn">Approve/Reject</th>
      <th>Request status</th>
    </tr>

    <% data.forEach((row)=> {%>
      <tr>
        <td>
          <%= row.name%>
        </td>
        <td>
          <%= row.teamLead%>
        </td>
        <td><button class="availabilityBtn" onclick="showHideAvailability(<%=row.id%>)">v</button></td>
        <td class="availabilityColumn">
          <button class="approveBtn" onclick="approveRequest(<%=row.id%>)">Approve</button>
          <button class="rejectBtn" onclick="rejectRequest(<%=row.id%>)">Reject</button>
        </td>
        <td>
          <%= row.requestStatus%>
        </td>
      </tr>
      <tr class="availability hiddenRow" id=<%=row.id%>>
        <th>Hours:</th>
        <td>
          <%= row.hours%>
        </td>
        <th>Date Range:</th>
        <td class="availabilityColumn"></td>
        <td>
          <%= row.startDate%> - <%= row.endDate%>
        </td>
      </tr>
      <% }) %>
  </table>
</article>


<script src="js/requestTable.js"></script>