<link rel="stylesheet" href="css/requestTable.css">

<article id="requestTableContainer">
  <table>
    <tr id="headings">
      <th>Name</th>
      <% if (isApproveRequests) { %>
        <th>Requested By </th>
      <% } else { %>
        <th>Team Lead</th>
      <% } %>
      <th>Requested availability</th>
      <% if (isApproveRequests) { %>
        <th class="availabilityColumn">Approve/Reject</th>
      <% } %>
      <th>Request status</th>
    </tr>

    <% data.forEach((row)=> {%>
      <tr>
        <td>
          <%= row.devFirstName%> <%= row.devLastName%> 
        </td>
        <% if (isApproveRequests) { %>
          <td>
            <%= row.leadRequestFirstName%> <%= row.leadRequestLastName%>
          </td>
        <% } else { %>
          <td>
            <%= row.leadFirstName%> <%= row.leadLastName%>
          </td>
        <% } %>
        <td>
          <details>
            <summary>
              See availability
            </summary>
              <p>Hours: <%= row.amountOfHours%> <br/><br/> <%= row.startDate%> - <%= row.endDate%></p>
          </details>
        </td>
        <% if (isApproveRequests) { %>
          <td class="availabilityColumn">
            <form action="/requests/update" method="post">
              <input type="text" name="requestId" id="requestId" value="<%=row.requestId%>" hidden />
              <input type="text" name="developerId" id="developerId" value="<%=row.developerId%>" hidden />
              <input type="text" name="requestStatus" id="requestStatus" value="Accepted" hidden />
              <button class="approveBtn" type="submit">Approve</button>
            </form>
            <form action="/requests/update" method="post">
              <input type="text" name="requestId" id="requestId" value="<%=row.requestId%>" hidden />
              <input type="text" name="developerId" id="developerId" value="<%=row.developerId%>" hidden />
              <input type="text" name="requestStatus" id="requestStatus" value="Denied" hidden />
              <button class="rejectBtn" type="submit">Reject</button>
            </form>
          </td>
        <% } %>
        <td>
          <%= row.requestStatus%>
        </td>
      </tr>
      <% }) %>
  </table>
</article>


<script src="js/requestTable.js"></script>