<link rel="stylesheet" href="css/searchFilter.css" type="text/css">  

<section class="Search-And-Filter">
  <h2>Search by Name:</h2>
  <form class="searchArticle" action="<%if(requestsPage) {%> /viewDevs <%} else {%> /manageDevs <%}%>" method="GET">

    <input type="search" name="searchInput" />
    <button type="submit">Search</button>
  </form>
  <h2>Filters</h2>

  <form class="filters" action="<%if(requestsPage) {%> /viewDevs <%} else {%> /manageDevs <%}%>" method="GET">
      <% if(requestsPage) { %>
        <article>
          <label for="TeamFilter">Team:</label>
          <select name="TeamFilter" id="TeamFilter">
              <option></option>
              <% if (populateFilter.teams) {%>
            <% for( let index=0; index < populateFilter.teams.length; index++ ) { %>
                <option value="<%=populateFilter.teams[index]%>"><%=populateFilter.teams[index]%></option>
                <% } %>
                <%}%>
          </select>
        </article>
        <article>
          <label for="LeadFilter">Lead:</label>
          <select name="LeadFilter" id="LeadFilter">
            <option></option>
            <% if (populateFilter.leads) {%>
              <% for( let index=0; index < populateFilter.leads.length; index++ ) { %>
                <option value="<%=populateFilter.leads[index]%>"><%=populateFilter.leads[index]%></option>
                <% } %>
            <%}%>
          </select>
        </article>
        <% } %>
        
        <article>
          <label for="SkillsFilter">Skills:</label>
          <select name="SkillsFilter" id="SkillsFilter">
            <option></option>
            <% if (populateFilter.skills) {%>
            <% for( let index=0; index < populateFilter.skills.length; index++ ) { %>
              <option value="<%=populateFilter.skills[index]%>"><%=populateFilter.skills[index]%></option>
              <% } %> 
              <%}%>           
          </select>
        </article>
        <button type="submit">Filter</button>
    </form>

  <% if(!requestsPage) { %>
    <form action="/manageDevs/add" method="POST">
      <details class="add-dev-details">
        <summary>
          <h2>Add a New Dev</h2>
        </summary>
        <article class="inputDetails">
          <article>
            <label for="nameInput">Name:</label>
            <input type="text" name="nameInput" id="nameInput" />
          </article>
  
          <article>
            <label for="surnameInput">Surname:</label>
            <input type="text" name="surnameInput" id="surnameInput" />
          </article>
  
          <article>
            <label for="teamInput">Team:</label>
            <input type="text" name="teamInput" id="teamInput" />
          </article>
          <article>
            <label for="skillsInput">Skills:</label>
            <select name="skillsInput" id="skillsInput" multiple>
              <% if (populateFilter.skillInputData) {%>
                <% for( let index=0; index < populateFilter.skillInputData.length; index++ ) { %>
                  <option value="<%=populateFilter.skillInputData[index]%>"><%=populateFilter.skillInputData[index]%></option>
                  <% } %> 
                  <%}%>    
            </select>
          </article>
        </article>
  
        <button type="submit">Add Dev</button>
      </details>
    </form>
    <% } %>
</section>