<%- include('../partials/head', {title: 'Manage Devs', showNav: true }) %>

<script src="js/viewDevs.js"></script>

<link rel="stylesheet" href="css/viewDevs.css">
<main id="ViewDevs">

  <%- include('../partials/searchAndFilter',{requestsPage: false})%>
    <section class="devCardContainer">
      <% for( let index=0; index < data.length; index++ ) { %>
        <%- include('../partials/devCard.ejs', {dev: data[index], isManage: true}) %>
          <% } %>
    </section>
</main>

<%- include('../partials/availabilityPopup') %>

<%- include('../partials/footer') %>