<%- include('../partials/head', {title: 'Manage Devs' }) %>

  <link rel="stylesheet" href="css/viewDevs.css">
  <main id="ViewDevs">
    <% if(errorFlag) {%>
      <%- include('../partials/failPopUp',{myLabel: 'error'})%>
    <%}%>
    <%- include('../partials/searchAndFilter',{requestsPage: false, populateFilter})%>
      <section class="devCardContainer">
        <% for( let index=0; index < data.length; index++ ) { %>
          <%- include('../partials/devCard.ejs', {dev: data[index]}) %>
            <% } %>
      </section>
  </main>

  <%- include('../partials/footer') %>