<%- include('../partials/head', {title: 'View Devs', showNav: true }) %>

<script src="js/viewDevs.js"></script>

<link rel="stylesheet" href="css/viewDevs.css">
<main id="ViewDevs">

  <% if(feedback){%>
    <% if(feedback.type === 'success') {%>
      <%- include('../partials/successPopUp',{message: feedback.message, redirect_url: feedback.redirect}) %>
      <%}%>
      <% if(feedback.type === 'fail') {%>
        <%- include('../partials/failPopUp',{message: feedback.message, redirect_url: feedback.redirect}) %>
        <%}%>
  <%}%>
  <%- include('../partials/searchAndFilter',{requestsPage: true})%>
    <section class="devCardContainer">
      <% for( let index=0; index < data.length; index++ ) { %>
        <%- include('../partials/devCard.ejs', {dev: data[index], isManage: false}) %>
          <% } %>
    </section>
</main>

<%- include('../partials/requestPopup') %>

<%- include('../partials/footer') %>
